:root {
  --primary-color: #1b2343;
  --secondary-color: #f8d51a;
  --text-primary: #fefefe;
  --text-secondary: #242424;
  --board-border-color: #1b6bf7;
  --display-font: Righteous, sans-serif;
  --sans-font: Roboto;
  --game-font: cursive;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--sans-font), sans-serif;
  background-color: var(--primary-color);
  color: var(--text-primary);
}

* {
  box-sizing: inherit;
}

button {
  display: block;
  border: none;
  border-radius: 0;
  font-family: inherit;
}

a {
  color: inherit;
}

.header {
  margin: 4rem auto;
}
.header__title {
  font-family: var(--display-font);
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 900;
  text-align: center;
}

.start__buttons {
  width: 80vw;
  max-width: 20rem;
  margin: 0 auto;
}

.game__buttons {
  width: 80vw;
  max-width: 25rem;
  margin: 3rem auto;
}
.game__button {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.75rem 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--text-secondary);
}

.board {
  display: grid;
  font-family: var(--game-font);
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  background-color: inherit;
  color: var(--text-primary);
}
.board__cell--border-x {
  border-left: 4px solid var(--board-border-color);
  border-right: 4px solid var(--board-border-color);
}
.board__cell--border-y {
  border-top: 4px solid var(--board-border-color);
  border-bottom: 4px solid var(--board-border-color);
}

.footer {
  padding: 1.2rem 0;
  background-color: var(--primary-color);
  color: var(--text-primary);
}
.footer__text {
  text-align: center;
  font-size: 1.125rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.hidden {
  display: none;
}