.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  width: 80vw;
  max-width: 25rem;
  height: 80vw;
  max-height: 25rem;
  margin: 0 auto;
  background-color: var(--board-border-color);
  
  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-family: fantasy;
    background-color: var(--primary-color);
    color: var(--text-primary);
  }
}