.board {
  display: grid;
  font-family: var(--game-font);
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: fit-content;
  
  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    background-color: inherit;
    color: var(--text-primary);

    &--border-x {
      border-left: 4px solid var(--board-border-color);
      border-right: 4px solid var(--board-border-color);
    }

    &--border-y {
      border-top: 4px solid var(--board-border-color);
      border-bottom: 4px solid var(--board-border-color);
    }
  }
}