.game {
  &__message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  &__buttons {
    width: 80vw;
    max-width: 24rem;
    margin: 4rem auto 0;
  }

  &__button {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .75rem .5rem;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--text-secondary);
    transition: transform 150ms ease-in;

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.computer-selection {
  width: 80vw;
  max-width: 24rem;
  margin: 0 auto;
}