body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  font-family: var(--sans-font), sans-serif;
  background-color: var(--primary-color);
  color: var(--text-primary);
}

* {
  box-sizing: inherit;
}

button {
  display: block;
  border: none;
  border-radius: 0;
  font-family: inherit;
}

a {
  color: inherit;
}